body {
    overflow: hidden;
    background: #C6E2EE url(/img/icon.png) 2px 2px no-repeat;
    font-family: Tahoma;
    font-weight: bold;
    padding: 0;
    word-wrap: break-word;
}
body.failure {
    background-color: #990000;
    background-image: url(/img/icon-failure.png);
}
body.failure.dev {
    background-color: #ffd700;
    background-image: url(/img/icon-failure.png);
}
a {
    color: #FF6600;
}
.box {
    overflow: auto;
    margin: 2px 0 0 48px;
}
#time {
  font-size: 9px;
}
